In [19]:
import requests, json, time
import datetime
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

In [ ]:
url =

In [ ]:
발라드 = "https://music.naver.com/listen/genre/home.nhn?domain=DOMESTIC&genre=K01"
댄스 = "https://music.naver.com/listen/genre/home.nhn?domain=DOMESTIC&genre=K02"
힙합 = "https://music.naver.com/listen/genre/home.nhn?domain=DOMESTIC&genre=K03"
록/포크 = "https://music.naver.com/listen/genre/home.nhn?domain=DOMESTIC&genre=K04"
트로트 = "https://music.naver.com/listen/genre/home.nhn?domain=DOMESTIC&genre=K05"

In [21]:
# rank 1~5
html = urlopen(url)
soup = BeautifulSoup(html, 'html.parser')

In [22]:
body = soup.select('tbody tr')

In [23]:
body = body[1:6]

In [63]:
melon_genre = pd.DataFrame(columns = ["Ranking", "Song", "Artist"])

for i in range(0, 5):
    
    tmp_tag = body[i]
    
    rank = tmp_tag.select('td.ranking')[0].get_text()
    song = tmp_tag.select('td a._title .ellipsis')[0].get_text()
    try:
        artist = tmp_tag.select('td a._artist .ellipsis')[0].get_text()
        artist = artist[15:-4]
    except IndexError:
        artist = tmp_tag.select('td._artist.artist.no_ell2 > a')[0].get_text()
        
    
    
    data = {"Ranking" : rank,
            "Song" : song,
            "Artist" : artist,
           }

    melon_genre.loc[len(melon_genre)] = data

In [64]:
melon_genre

  Ranking          Song        Artist
0       1     너 없인 안 된다           비투비
1       2          지나오다      닐로(Nilo)
2       3  안녕 (You & I)  SHINee (샤이니)
3       4           주지마            로꼬
4       5           있다면        뉴이스트 W